<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
    <h1>Hello, {{ name }}</h1>
    <button @click.prevent="sayMyName">My name is gogu</button>


    <hr>


    <Izua></Izua>
</div>

<script src="js/app.js?PLM"></script>
</body>
</html>