<template>
    <div>
        <h1>Hello, {{ newName }}</h1>
        <button @click.prevent="sayMyName">Izua Button</button>
    </div>
</template>

<script>
  import axios from 'axios'

  const izuaCallBack = (response) => {
    console.log(response);
    // return Promise.reject('ceva');
    return Promise.resolve(response);
  }

  export default {
    data() {
      return {
        newName: 'Izua'
      }
    },
    methods: {
      sayMyName() {
        axios.get('https://reqres.in/api/users/2')
          .then(izuaCallBack)
          .then((response) => {
            this.newName = response.data.data.first_name;
          })
          .catch(() => {
            this.newName = 'EROARE PLM';
          });
      }
    }
  }
</script>